# Project exclude paths
/hitbox-utils-bungee/target/
/hitbox-utils-paper/target/

docker-compose/data/
.idea/
docker-compose/cache/
/hitbox-utils-bundle/target/*
/hitbox-utils-bundle/dependency-reduced-pom.xml
/hitbox-utils-bundle/hitbox-utils-bundle.iml
/hitbox-utils-bungee/hitbox-utils-bungee.iml
/hitbox-utils-paper/dependency-reduced-pom.xml
/hitbox-utils-velocity/target/*
/hitbox-utils-velocity/hitbox-utils-velocity.iml
/hitbox-utils-paper/hitbox-utils-paper.iml
/HitBoxUtils.iml
/bottoken
/hitbox-utils-bansystem-api/target/
/hitbox-utils-bundle/target/
/hitbox-utils-configuration/target/
/hitbox-utils-jda/target/
/hitbox-utils-velocity/target/
/hitboxutils-core.iml
/docker-compose/
/.vscode/
/hitbox-utils-punishment/hitbox-utils-punishment.iml
/hitbox-utils-punishment/dependency-reduced-pom.xml
/hitbox-utils-punishment/target/
/hitbox-utils-bungee/dependency-reduced-pom.xml
